
{{ define "content" }}

  <div id="services">

    <div class="block">
    <h1 class="title">Services</h1>
    <h2 class="subtitle">
      Consulting for software development
    </h2>
    </div>

  <div class="content">

    <p>To request a consultation of software development services, please send an
    <a href="mailto:services@micrantha?subject=Services">email to services@micrantha.com</a>.</p>

    <p>Describe the who, what, where and when of you, your proposition, project or service.</p>

  </div>

  </div>
{{ end }}
