# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

RAILS_SECRET_KEY_BASE=0daaafa278d2c89d886b2ee99124dde3fc1b568f1beaadd088de83996b8d9db1db1b0f09fc99e986c0d0b6b0850cf8a1bba6c37a683374ee9a1414470df34f68
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
