{{ define "content" }}

  <div id="laboratory">

    <h1 class="title">Laboratory</h1>
    <h2 class="subtitle">Projects listed here are still being grown.</h2>


    <div class="block columns is-multiline">

      <div class="column is-half">
        <div class="card">
          <div class="card-header">
            <h1 class="title is-5 m-3">
                👁 Scouter
            </h1>
          </div>
          <div class="card-content">
              Scouter is a turn based mobile game of "I Spy". The app uses machine learning
                  to identify
                  real world things and
                  match them based upon clues.
          </div>
          <footer class="card-footer">
            <a href="https://ryanjennin.gs/posts/scouter-demo/" class="card-footer-item">Demo</a>
          </footer>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-header">
            <h1 class="title is-5 m-3">
              🌵 Sandbox
            </h1>
          </div>
          <div class="card-content">
            A wrapper around containers to create re-usable development and test environments.  Developed to isolate system/project dependencies and time tracking.
          </div>
          <footer class="card-footer">
            <a href="https://ryanjennin.gs/posts/sandcastle-util-demo/" class="card-footer-item">Demo</a>
          </footer>
        </div>
      </div>

    </div>

    <div class="columns is-multiline">

      <div class="column is-half">
        <div class="card">
          <div class="card-header">
            <h1 class="title is-5 m-3">
              🌐 Outermesh
            </h1>
          </div>
          <div class="card-content">
            An e-book on learning software development that has turned into a project in its own right: a multiplayer game about hacking
          </div>
          <footer class="card-footer">
            <a href="https://outermesh.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-header">
            <h1 class="title is-5 m-3">
              🚧 Micra
            </h1>
          </div>
          <div class="card-content">
            A plugin based tool to create development projects and to manage git and build versions.
          </div>
          <footer class="card-footer">
            <a href="https://codemux.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-header">
            <h1 class="title is-5 m-3">
              💻 Codemux
            </h1>
          </div>
          <div class="card-content">
            A secure group coding solution in the terminal.  Basically tmux and ssh but with a few extras for communication and managing edit control.
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-header">
            <h1 class="title is-5 m-3">
               ⚘ The Garden
            </h1>
          </div>
          <div class="card-content">
              The garden is a lightweight mobile
                 synchronization solution leveraging MQTT and native database JSON data types.  Currently supports PostgreSQL and SQLite.
          </div>
          <footer class="card-footer">
            <a href="https://nursery.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
    </div>

    <div class="mb-5">
       See the <a href="/laboratory/compost">laboratory compost</a> for projects that did not survive.
    </div>

  </div>

{{ end }}
