{{ define "content" }}

  <div id="labratory">

      <h1 class="title">Labratory Compost</h1>
      <h2 class="subtitle">
      Projects listed here were neglected and recycled.
      </h2>

    <div class="columns">
      <div class="column is-half ">
        <div class="card">
          <div class="card-header bg-orange">
            <h1 class="title is-5 m-3 fg-white">
                😉 Emotext
            </h1>
          </div>
          <div class="card-content">
              A scalable chat app that has predefined textual representations of emotions.
                  Emotext's are
                  displayed for first, second and third persons, leading to a more rich and humourous expression
                  context.
          </div>
          <footer class="card-footer">
            <a href="https://emotext.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-blue">
            <h1 class="title is-5 m-3 fg-white">
                🐞 Testmanship
            </h1>
          </div>
          <div class="card-content">
            Research on test automation, fuzz testing, security and machine learning and how to bring them all together.
          </div>
          <footer class="card-footer">
              <a href="https://testmanship.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-red">
            <h1 class="title is-5 m-3 fg-white">
                🥠 Fortunes Mobile
            </h1>
          </div>
          <div class="card-content">
              A mobile app for the fortunes service.
              Fortunes are told with a variety of extra cute characters like cows and androids.
              Extra fortune content and redesigned categories with the ability for users to submit their own.
          </div>
          <footer class="card-footer">
            <a href="https://fortunes.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
    </div>
  </div>

{{ end }}

