{{ define "content" }}

<div>
  <h3>Manager</h3>
  <div>
    Currently seeking a "pro-bono" general manager.
  </div>
  <br>
  <div>
    <h5>Responsibilities:</h5>
    <ul>
        <li>keeping me focused with targets and multi-tasking</li>
        <li>ensuring I stay out of trouble and motivated</li>
        <li>identifying socialization and marketing opportunities</li>
        <li>help develop business plan</li>
    </ul>
    
    <h5>Requirements:</h5>
    <ul>
      <li>interested or passion for technology or business</li>
      <li>not allergic to cats (may include cat petting)</li>
    </ul>

    <h5>Compensation:</h5>
    <ul>
      <li>a sliding scale of profit sharing</li>
      <li>free limited music lessons or entertainment from me</li>
      <li>free limited software/technology knowledge share</li>
    </ul>

  </div>
</div>

{{ end }}
