{{ define "content" }}
  <div id="home">

    <section class="hero">

      <div class="hero-body">

          <div class="is-flex is-justify-content-center is-align-items-center">
            <img src="/img/logo.svg" alt="logo"/>

            <div class="ml-4">
              <h1 class="title">Micrantha Software</h1>
              <h2 class="subtitle">Growing software for functionally appealing solutions.</h2>
              <div class="content">
                <dl>
                  <dt>
                      <i><b>Hackelia Micrantha</b></i>:
                  </dt>
                  <dd>
                      <i>A species of flower found in the west coast of North America.</i>
                  </dd>
                  </dt>
                </dl>
              </div>
          </div>
        </div>
      </div>

    </section>

<!--
    <section id="featured-content">

    <div class="columns">

      <div class="column">
        <div class="card">
          <div class="card-header bg-green">
            <h1 class="title is-5 m-4 fg-white">
              Hybrid Schemaless Databases
            </h1>
          </div>

          <div class="card-content">
              A blog post looking at databases and in particular, the <b>Garden</b> at Micrantha.
          </div>

          <footer class="card-footer">
            <a href="/blog/garden" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>


      <div class="column">
        <div class="card">

          <div class="card-header bg-orange">
           <h1 class="title is-5 m-4 fg-white">
               Fortunes Service
             </a>
           </h1>
          </div>

          <div class="card-content">
              A micro-service and <a href="https://slack.com/apps/A8MAPLX53-fortunes">Slack App</a> for UNIX fortunes. Fortunes are witty antidotes that relive project tensions. They come in many categories such as technical, poems, quotes, and proverbs.
          </div>
          
          <footer class="card-footer">
            <a href="https://fortunes.micrantha.com" class="card-footer-item">Visit</a>
          </footer>

        </div>
      </div>

      </div>

    </section>
    -->

  </div>

{{ end }}
