{{ define "content" }}
  <div id="home">
    <div class="jumbotron clearfix">
      <div class="row">
        <div class="col-md-3">
          <img src="/img/logo.svg" class="logo-lg" alt="logo"/>
        </div>
        <div class="col-md-7">
            <h1>Micrantha Software</h1>
            <h4>Growing software for functionally appealing solutions.</h4>
            <br>
            <dl>
              <dt>
              <dt>
                  <i><b>Hackelia Micrantha</b></i>:
              </dt>
              <dd>
                  <i>A species of flower found in the west coast of North America.</i>
              </dd>
              </dt>
            </dl>
        </div>
      </div>
    </div>

{{ end }}
