{{ define "content" }}
  <div id="home">

  <div id="home">
    <div class="jumbotron clearfix">

        <div class="row">
            <div class="col-md-3">
        <img src="/img/logo.svg" class="logo-lg" alt="logo"/>
            </div>
        <div class="col-md-7">
            <h1>Micrantha Software</h1>

            <h2>Growing software for functionally appealing solutions.</h2>

            <br>

            <dl>
            <dt>
            <dt>
                <i><b>Hackelia Micrantha</b></i>:
            </dt>
            <dd>
                <i>A species of flower found in the west coast of North America.</i>
            </dd>
            </dt>
            </dl>

        </div>
        </div>
    </div>
    </div>

    <div id="projects">
        <h1 class="text-center">Featured Solution</h1><br>
        <div class="card text-center shrink-70">
            <h2 class="card-header bg-primary text-white">
                <img class="card-logo" src="https://fortunes.micrantha.com/img/logo.png" alt="fortunes logo"/>
                Fortunes Service
            </h2>
            <div class="card-body">
                <p class="card-text">A micro-service and <a href="https://slack.com/apps/A8MAPLX53-fortunes">Slack
                        App</a> for
                    UNIX fortunes. Fortunes are witty antidotes that relive project tensions.
                    They come in many categories such as technical, poems, quotes, and proverbs.</p>
                <a href="https://fortunes.micrantha.com" class="btn btn-primary text-white">Visit</a>
            </div>
        </div>
    </div>
  </div>
{{ end }}
