{{ define "content" }}

  <div id="labratory">

    <div class="container">

        <h4>Labratory Failures</h4>
        <p>
        Projects listed here were dropped from the labratory.
        </p>

    </div>

    <br>

    <div class="row container">
        <div class="col-md-6">
            <div class="card text-center">
                <h5 class="card-header bg-orange">
                    😉 Emotext
                </h5>
                <div class="card-body">
                    <p class="card-text">A scalable chat app that has predefined textual representations of emotions.
                        Emotext's are
                        displayed for first, second and third persons, leading to a more rich and humourous expression
                        context.</p>
                    <a href="https://emotext.micrantha.com" class="btn btn-primary text-white">Visit</a>
                </div>
            </div>
        </div>
    </div>

  </div>

{{ end }}

