{{ define "content" }}

  <div id="labratory">

      <h1 class="title">Labratory</h1>
      <h2 class="subtitle">Projects listed here are either actively being worked on, designed or still conceptual.</h2>
      <p class="block">
         Not all projects here survive.  See <a href="/labratory/failures">labratory failures</a>.
      </p>

    <h3 class="title is-4">Experimental</h3>

    <div class="columns">

      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-green">
            <h1 class="title is-5 m-3 fg-white">
               ⚘ The Garden
            </h1>
          </div>
          <div class="card-content">
              The garden is a lightweight document layer over relational databases with
                  synchronization and mobile SDKs.
          </div>
          <footer class="card-footer">
            <a href="https://nursery.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
    </div>

    <h3 class="title is-4">In Design</h3>

    <div class="columns is-multiline">
      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-red">
            <h1 class="title is-5 m-3 fg-white">
                🥠 Fortunes Mobile
            </h1>
          </div>
          <div class="card-content">
              A mobile app for the fortunes service.
              Fortunes are told with a variety of extra cute characters like cows and androids.
              Extra fortune content and redesigned categories with the ability for users to submit their own.
          </div>
          <footer class="card-footer">
            <a href="https://fortunes.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>

      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-blue">
            <h1 class="title is-5 m-3 fg-white">
                👁 Scouter
            </h1>
          </div>
          <div class="card-content">
              Scouter is a turn based mobile game of "I Spy". The app uses machine learning
                  to identify
                  real world things and
                  match them.
          </div>
          <footer class="card-footer">
            <a href="https://scouter.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>

      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-orange">
            <h1 class="title is-5 m-3 fg-white">
              🌐 Outermesh
            </h1>
          </div>
          <div class="card-content">
            An e-book on learning software development that has turned into a project in its own right: a game about hacking
          </div>
          <footer class="card-footer">
            <a href="https://outermesh.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
    </div>

  </div>

{{ end }}
