{{ define "content" }}

    <div class="container">

        <h4>Labratory</h4>
        <p>These projects are either still in <b>design</b> or purely <b>conceptual</b>.</p>

    </div>

    <br>

    <div class="row container">
        <div class="col-md-12">
            <h5>Seeding</h5>
            <hr>
        </div>
    </div>

    <div class="row container">

        <div class="col-md-6">
            <div class="card text-center">

                <h5 class="card-header text-white bg-blue">
                    👁 Scouter
                </h5>
                <div class="card-body">
                    <p class="card-text">Scouter is a turn based mobile game of "I Spy". The app uses machine learning
                        to identify
                        real world things and
                        match them.</p>
                    <a href="https://scouter.micrantha.com" class="btn btn-primary text-white">Visit</a>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-center">

                <h5 class="card-header bg-green text-white">
                    ⚘ The Garden
                </h5>
                <div class="card-body">
                    <p class="card-text">The garden is a lightweight hybrid relational/json database cloud with
                        efficient
                        synchronization and mobile SDKs.</p>
                    <a href="https://nursery.micrantha.com" class="btn btn-primary text-white">Visit</a>
                </div>

            </div>
        </div>
    </div>

    <div class="row container">

        <div class="col-md-6">
            <div class="card text-center">

                <h5 class="card-header bg-red text-white">
                    🥠 Fortunes Mobile
                </h5>
                <div class="card-body">
                    <p class="card-text">A mobile app for the fortunes service.
                        Fortunes are told with a variety of extra cute characters like cows and androids.
                        Extra fortune content and categories, and ability for users to submit their own.
                    </p>
                    <a href="https://fortunes.micrantha.com" class="btn btn-primary text-white">Visit</a>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="card text-center">
                <h5 class="card-header bg-orange">
                    😉 Emotext
                </h5>
                <div class="card-body">
                    <p class="card-text">A scalable chat app that has predefined textual representations of emotions.
                        Emotext's are
                        displayed for first, second and third persons, leading to a more rich and humourous expression
                        context.</p>
                    <a href="https://emotext.micrantha.com" class="btn btn-primary text-white">Visit</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row container">
        <div class="col-md-12">
            <h5>Conceptual</h5>
            <hr>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-6">
            <div class="card text-center">

                <h5 class="card-header bg-info text-white">
                    Testmanship
                </h5>
                <div class="card-body">
                    <p class="card-text">Research on test automation, fuzz testing, security and machine learning and
                        how to bring them all together.
                    </p>
                    <a href="https://testmanship.com" class="btn btn-primary text-white">Visit</a>
                </div>
            </div>
        </div>
    </div>

{{ end }}
