{{ define "content" }}

  <div id="labratory">

    <div class="container">

        <h4>Labratory</h4>
        <p>
        Projects listed here are either actively being worked on, designed or still conceptual.
        </p>
        <p>
           Not all projects here survive.  See <a href="/labratory/failures">labratory failures</a>.
        </p>

    </div>

    <br>

    <div class="row container">
        <div class="col-md-12">
            <h5>Experimental</h5>
            <hr>
        </div>
    </div>

    <div class="row container">

        <div class="col-md-6">
            <div class="card text-center">

                <h5 class="card-header bg-green text-white">
                    ⚘ The Garden
                </h5>
                <div class="card-body">
                    <p class="card-text">The garden is a lightweight json database layer over sql with
                        synchronization and mobile SDKs.</p>
                    <a href="https://nursery.micrantha.com" class="btn btn-primary text-white">Visit</a>
                </div>

            </div>
        </div>
    </div>

    <div class="row container">
        <div class="col-md-12">
            <h5>In Design</h5>
            <hr>
        </div>
    </div>

    <div class="row container">

        <div class="col-md-6">
            <div class="card text-center">

                <h5 class="card-header bg-red text-white">
                    🥠 Fortunes Mobile
                </h5>
                <div class="card-body">
                    <p class="card-text">A mobile app for the fortunes service.
                        Fortunes are told with a variety of extra cute characters like cows and androids.
                        Extra fortune content and categories, and ability for users to submit their own.
                    </p>
                    <a href="https://fortunes.micrantha.com" class="btn btn-primary text-white">Visit</a>
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="card text-center">

                <h5 class="card-header text-white bg-blue">
                    👁 Scouter
                </h5>
                <div class="card-body">
                    <p class="card-text">Scouter is a turn based mobile game of "I Spy". The app uses machine learning
                        to identify
                        real world things and
                        match them.</p>
                    <a href="https://scouter.micrantha.com" class="btn btn-primary text-white">Visit</a>
                </div>

            </div>
        </div>

        <div class="col-md-6">
          <div class="card text-center">
            <h5 class="card-header bg-orange">
              🌐 Outermesh
            </h5>
            <div class="card-body">
              <p class="card-text">An e-book on learning software development that has turned into a project in its own right: a game about hacking</p>
              <a href="https://outermesh.micrantha.com" class="btn btn-primary text-white">Visit</a>
            </div>
          </div>
        </div>
    </div>

    <div class="row container">
        <div class="col-md-12">
            <h5>Conceptual</h5>
            <hr>
        </div>
    </div>
    <div class="row container">
        <div class="col-md-6">
            <div class="card text-center">

                <h5 class="card-header bg-info text-white">
                    Testmanship
                </h5>
                <div class="card-body">
                    <p class="card-text">Research on test automation, fuzz testing, security and machine learning and
                        how to bring them all together.
                    </p>
                    <a href="https://testmanship.com" class="btn btn-primary text-white">Visit</a>
                </div>
            </div>
        </div>
    </div>

  </div>

{{ end }}
