{{ define "content" }}

  <div id="labratory">

      <h1 class="title">Labratory</h1>
      <h2 class="subtitle">Projects listed here are either actively being worked on, designed or still conceptual.</h2>
      <p class="block">
         Not all projects here survive.  See <a href="/labratory/failures">labratory failures</a>.
      </p>

    <div class="columns is-multiline">

      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-green">
            <h1 class="title is-5 m-3 fg-white">
               ⚘ The Garden
            </h1>
          </div>
          <div class="card-content">
              The garden is a lightweight document layer over relational databases with
                  synchronization and mobile SDKs.
          </div>
          <footer class="card-footer">
            <a href="https://nursery.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-blue">
            <h1 class="title is-5 m-3 fg-white">
                👁 Scouter
            </h1>
          </div>
          <div class="card-content">
              Scouter is a turn based mobile game of "I Spy". The app uses machine learning
                  to identify
                  real world things and
                  match them.
          </div>
          <footer class="card-footer">
            <a href="https://scouter.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>

    </div>

    <div class="columns is-multiline">

      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-orange">
            <h1 class="title is-5 m-3 fg-white">
              🌐 Outermesh
            </h1>
          </div>
          <div class="card-content">
            An e-book on learning software development that has turned into a project in its own right: a multiplayer game about hacking
          </div>
          <footer class="card-footer">
            <a href="https://outermesh.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
      <div class="column is-half">
        <div class="card">
          <div class="card-header bg-purple">
            <h1 class="title is-5 m-3 fg-white">
              💻 Codemux
            </h1>
          </div>
          <div class="card-content">
            A secure group coding solution in the terminal.  Uses scheduling algorithms for who has keyboard control.
          </div>
          <footer class="card-footer">
            <a href="https://codemux.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
    </div>

  </div>

{{ end }}
