<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .Title }}{{ .Title }}{{else}}Micrantha{{end}}</title>
    <meta name="description" content="{{ .Description }}">
    <meta name="keywords" content="{{ .Keywords }}">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="preload" as="style">
    {{ template "head.html.tmpl" . }}
    {{ block "custom-head" . }}
    {{ end }}
  </head>
  <body>

    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
        your browser</a> to improve your experience and security.</p>
    <![endif]-->


    <header id="header" class="clearfix">
      {{ template "header.html.tmpl" . }}
    </header>

    {{ block "content-header" . }}
    {{ end }}

    <div class="container clearfix" id="content">
      {{ template "content" . }}
    </div>

    {{ block "content-footer" . }}
    {{ end }}

    <footer class="center clearfix" id="footer">
      {{ template "footer.html.tmpl" . }}
    </footer>

    {{ template "scripts.html.tmpl" . }}

    {{ template "analytics.html.tmpl" . }}

  </body>
</html>
