<!doctype html>
<html class="no-js" lang="en">
  <head>
      {{ template "head.tmpl" . }}

      {{ block "custom-head" . }}
      {{ end }}
  </head>
  <body>

    <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade
        your browser</a> to improve your experience and security.</p>
    <![endif]-->

    <header id="header" class="clearfix">
        {{ template "header.tmpl" . }}
    </header>

    {{ block "content-header" . }}
    {{ end }}

    <div class="container clearfix" id="content">
        {{ template "content" . }}
    </div>

    {{ block "content-footer" . }}
    {{ end }}

    <footer class="center clearfix" id="footer">
        {{ template "footer.tmpl" . }}
    </footer>

    {{ template "scripts.tmpl" . }}

    {{ template "analytics.tmpl" . }}

  </body>
</html>
