{{ define "custom-head" }}
  <link rel="stylesheet" media="all" href="/css/philosophy.css" />
{{ end }}

{{ define "content" }}

  <div id="philosophy">
    <h2>Philosophy</h2>

    <hr>

    <p>
        Micrantha aims to be a conscious<sub><a href="#conscious">1</a></sub> business.</p>

    <p>
        We do not seek to claim or impose an identity. We aim to fulfill a shared purpose<sub><a
                    href="#purpose">2</a></sub>.
    </p>

    <p>
        We work from a state of acceptance, enthusiasm or enjoyment to achieve things greater than ourselves.
    </p>

    <p>Our software forms naturally and inherently. Our successes are secondary and our failures deepen us.
    </p>

    <p>
        An analogy to the software development we do is gardening. We grow our creations.
    </p>

        <br>

    <table>
        <tbody>
        <tr>
            <td>Flower</td>
            <td>A finalized app or technical solution</td>
        </tr>
        <tr>
            <td>Dirt</td>
            <td>The work that produces a solution</td>
        </tr>
        <tr>
            <td>Seed</td>
            <td>The design of a solution</td>
        </tr>
        <tr>
            <td>Water</td>
            <td>The flow of funds around a solution</td>
        </tr>
        <tr>
            <td>Sunlight</td>
            <td>The visibility of a solution in the market</td>
        </tr>
        <tr>
            <td>Garden</td>
            <td>A portfolio or a database</td>
        </tr>
        <tr>
            <td>Gardener</td>
            <td>An employee or API client</td>
        </tr>
        <tr>
            <td>Groundskeeper</td>
            <td>A system administrator</td>
        </tr>
        </tbody>
    </table>

    <br><br>

    <small>

        <p>
            [<a name="conscious">1</a>] - enlightened beyond form, vigilintly aware, without ego, present
        </p>
        <p>
            [<a name="purpose">2</a>] - work and state of mind
        </p>

    </small>

  </div>
{{ end }}

