{{ define "content" }}

  <div id="philosophy">

    <h2>Philosophy</h2>

    <hr>

    <p>
    Software forms naturally and inherently through enjoyment<sub><a href="#enjoyment">1<a></sub>, enthusiasm<sub><a href="#enthusiasm">2</a></sub> or acceptance<sub><a href="#acceptance">3</a></sub>.
    </p>

    <p>
    This is akin to the project management triangle of quality<sub><a href="#enjoyment">1</a></sub>, time<sub><a href="#enthusiasm">2</a></sub> or cost<sub><a href="#acceptance">3</a
      ></sub>.
    </p>

    <p>Projects must have two of these components to be taken on.</p>

    <p>
        An analogy to the software development we do is gardening.  We grow our creations.
    </p>

    <img src="/img/project-management-triangle-venn-diagram.png" alt="project management triangle diagram" />

    <dl>
      <dt>Flower</dt>
      <dd>A matured solution</dd>
      <dt>Dirt</dt>
      <dd>The work that produces a solution</dd>
      <dt>Seed</dt>
      <dd>The design of a solution</dd>
      <dt>Water</dt>
      <dd>The flow of funds around a solution</dd>
      <dt>Sunlight</dt>
      <dd>The visibility of a solution in the market</dd>
      <dt>Garden</dt>
      <dd>A collection of dirt, seeds and flowers</dd>
    </dl>
  </div>

  <br><br>

  <small>

    <p>[<a name="enjoyment">1</a>] Enjoyment relates to quality such that a quality solution is enjoyable</p>
    <p>[<a name="enthusiasm">2</a>] Enthusiasm relates to time such that it bypasses the restrictive nature</p>
    <p>[<a name="acceptance">3</a>] Acceptance relates to cost such that it creates a need to</p>

  </small>

{{ end }}

