{{ define "content" }}

  <div id="philosophy">

    <h2>Philosophy</h2>

    <hr>

    <p>
    Software forms naturally and inherently through <b>enjoyment</b><sub><a href="#enjoyment">1</a></sub>, <b>enthusiasm</b><sub><a href="#enthusiasm">2</a></sub> or <b>acceptance</b><sub><a href="#acceptance">3</a></sub>.
    </p>


    <p>
    This is akin to the project management triangle of <b>quality</b><sub><a href="#enjoyment">1</a></sub>, <b>time</b><sub><a href="#enthusiasm">2</a></sub> or <b>cost</b><sub><a href="#acceptance">3</a
      ></sub>.
    </p>

    <p>Projects must have two of these components to be taken on.</p>

    <p>
        An analogy to the software development we do is gardening, growing creations over time, with skill and patience.
    </p>

    <img src="/img/project-management-triangle-venn-diagram.png" alt="project management triangle diagram" />

    <dl>
      <dt>Flower</dt>
      <dd>A matured solution</dd>
      <dt>Soil</dt>
      <dd>The groundwork that helps produces a solution</dd>
      <dt>Seed</dt>
      <dd>The design of a solution</dd>
      <dt>Water</dt>
      <dd>The flow of resources around a solution</dd>
      <dt>Sunlight</dt>
      <dd>The visibility of a solution in the market</dd>
      <dt>Garden</dt>
      <dd>A collection of soil, seeds and flowers</dd>
    </dl>
  </div>

    <br><br>

  <small>

    <p>[<a name="enjoyment">1</a>] Enjoyment relates to quality such that a quality solution is enjoyable</p>
    <p>[<a name="enthusiasm">2</a>] Enthusiasm relates to time such that enthusiasm by-passes the restrictive nature of time</p>
    <p>[<a name="acceptance">3</a>] Acceptance relates to cost such that there is a need to</p>

  </small>

  <br><br>
  <hr>
  <br><br>

    <div class="center">
    <img alt="login" src="/img/micrantha.png" />
    </div>


{{ end }}

