{{ define "content" }}

    <div class="container">
        <h4>Solutions</h4>

        <p>Projects that have grown enough to be considered matured.</p>
    </div>

    <br>

    <div class="row container">

        <div class="col-md-6">
            <div class="card text-center">
                <h5 class="card-header bg-primary text-white">
                    <img class="card-logo" src="https://fortunes.micrantha.com/img/logo.png" alt="fortunes logo" />
                    Fortunes Service
                </h5>
                <div class="card-body">
                    <p class="card-text">A micro-service and <a href="https://slack.com/apps/A8MAPLX53-fortunes">Slack
                            App</a> for
                        UNIX fortunes. Fortunes are witty antidotes that relive project tensions.
                        They come in many categories such as technical, poems, quotes, and proverbs.</p>
                    <a href="https://fortunes.micrantha.com" class="btn btn-primary text-white">Visit</a>
                </div>
            </div>
        </div>

    </div>

{{ end }}

