{{ define "content" }}
  <div id="support">
    <p class="larger">Encountering problems or need assistance?</p>

    <div class="row">
        <div class="col-md-6">
            <div class="card bg-red">
                <h4 class="card-title"><a class="no-link"
                                          href="mailto:support@micrantha.com"><i class="fa fa-2x fa-at"></i>
                        <b>Email</b></a></h4>
                <br/>
                <p class="card-text">Send an email inquiries to <a
                            href="mailto:support@micrantha.com">fortunes@micrantha.com</a>.</p>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card bg-blue">
                <h4 class="card-title">
                    <a class="no-link" href="https://micrantha.slack.com">
                        <i class="fab fa-2x fa-slack"></i> <b>Slack</b>
                    </a></h4>
                <br/>
                <p class="card-text">Request to join the <a href="https://micrantha.slack.com">slack workspace</a>
                    and
                    post your question in <b>#support</b>.</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card bg-green">
                <h4 class="card-title">
                    <a class="no-link" href="https://irc.micrantha.com"><i class="fa fa-2x fa-keyboard"></i> <b>IRC</b></a>
                </h4>
                <br/>
                <p class="card-text">
                    #micrantha on <a href="https://freenode.net/">freenode</a> via <a
                            href="https://irc.micrantha.com">irc.micrantha.com</a>
                </p>
            </div>
        </div>
        <div class="col-md-6">

            <div class="card bg-orange">
                <h4 class="card-title">
                    <a class="no-link" href="https://git.micrantha.com"><i class="fab fa-2x fa-git-alt"></i> <b>Git</b></a>
                </h4>
                <br/>
                <p class="card-text">
                    <a href="https://git.micrantha.com">git.micrantha.com</a>
                </p>
            </div>
        </div>
    </div>
  </div>
{{ end }}

{{ define "content-footer" }}

{{ end }}