<div class="page-header">
  <% if content_for?(:title) %>
    <h2><%= content_for(:title) %></h2>
    <%= content_for(:page_subhead) %>
  <% else %>
    <%= content_for(:page_subhead) %>
  <% end %>
</div>
