
<h2>Contact Micrantha</h2>

  <div class="card text-center shrink-70">

    <div class="card-body">
      <h5 class="card-title">
        Email
      </h5>
      <a href="mailto:info@micrantha.com">info@micrantha.com</a>
    </div>


    <div class="card-body">
      <h5 class="card-title">
        Slack
      </h5>
      <a href="https://micrantha.slack.com">micrantha.slack.com</a>
    </div>

    <div class="card-body">
      <h5 class="card-title">
        IRC
      </h5>
      #micrantha on freenode
    </div>

    <div class="card-body">
      <h5 class="card-title">
        Git
      </h5>
      <a href="https://git.micrantha.com">git.micrantha.com</a>
    </div>
  </div>

