<div class="jumbotron clearfix">

  <%= inline_svg "logo.svg", :class => "logo-lg pull-left" %>

  <div>
    <h1>Micrantha Software</h1>

    <h4>Growing software for functionally appealing solutions.</h4>

    <br>

    <dt>
    <dt>
      <i><b>Hackelia Micrantha</b></i>:
    </dt>
    <dd>
      <i>a species of flower found in the West Coast of North America.</i>
    </dd>
    </dt>

    <br>
    <p class="small">Read more about the <a href="/philosophy">philosophy</a> behind what we do.</p>

  </div>
</div>

<div class="card text-center shrink-70">
  <h5 class="card-header bg-primary text-white">Current Projects</h5>
  <div class="card-body">
    <h5 class="card-title">
      <img class="card-logo" src="https://fortunes.micrantha.com/img/logo.png" alt="fortunes logo" />
      Fortunes Service
    </h5>
    <p class="card-text">A micro-service and <a href="https://slack.com/apps/A8MAPLX53-fortunes">Slack App</a> for UNIX fortunes. Fortunes are witty antidotes that relive project tensions.
      They come in many categories such as technical, poems, quotes, and proverbs.</p>
    <a href="https://fortunes.micrantha.com" class="btn btn-primary text-white">Visit</a>
  </div>
</div>

<br><br>

<div class="card text-center shrink-70">
  <h5 class="card-header bg-primary text-white">In Design</h5>

  <div class="card-body">
    <h5 class="card-title">
      <%= image_tag("scouter.png", :alt => "ðŸ‘", :class => "card-logo") %>
      Scouter
    </h5>
    <p class="card-text">Scouter is a turn based mobile game of "I Spy".  The app uses machine learning to identify real world things and
      match them.</p>
    <a href="https://scouter.micrantha.com" class="btn btn-primary text-white">Visit</a>
  </div>

  <hr />

  <div class="card-body">
    <h5 class="card-title">
      <%= image_tag("garden.png", :alt => "âš˜", :class => "card-logo") %>
      The Garden
    </h5>
    <p class="card-text">The garden is a hybrid relational/json database cloud with efficient mobile synchronization.</p>
    <a href="https://nursery.micrantha.com" class="btn btn-primary text-white">Visit</a>
  </div>

  <hr />

  <div class="card-body">
    <h5 class="card-title">
      <%= image_tag("emotext.png", :alt => "ðŸ˜‰", :class => "card-logo") %>
      Emotext
    </h5>
    <p class="card-text">A scalable chat app that has predefined textual representations of emotions.  Emotext's are displayed for first, second and third persons.</p>
    <a href="https://emotext.micrantha.com" class="btn btn-primary text-white">Visit</a>
  </div>
</div>