<% provide :title do %>
<%= inline_svg "logo.svg", :class => "logo" %>
Micrantha Software Solutions
<% end %>

<h4>Growing software for functionaly appealing solutions.</h4>


<p><i><b>Hackelia Micrantha</b></i>: is a species of flower found in the West Coast of North America, from British Columbia to California.</p>

