<% provide :title do %>
<%= inline_svg "logo.svg", :class => "logo" %>
Micrantha Software Solutions
<% end %>

<h4>Growing software for functionaly appealing solutions.</h4>


<p><i>Hackelia Micrantha</i> is a species of stickweed flower found in n the West Coast of North America from British Columbia to California.</p>

