
<div class="row">
<div class="col-md-4">
<%= inline_svg "logo.svg", :class => "logo" %>
</div>
<div class="col-md-7">
	<br>

	<h1>Micrantha Software Solutions</h1>

	<h4>Growing software for functionally appealing solutions.</h4>

	<br>

	<p><i><b>Hackelia Micrantha</b></i>: is a species of flower found in the West Coast of North America from British Columbia to California.</p>
</div>
