<div class="jumbotron clearfix">

  <%= inline_svg "logo.svg", :class => "logo-lg pull-left" %>

  <div>
    <h1>Micrantha Software</h1>

    <h4>Growing software for functionally appealing solutions.</h4>

    <br>

    <dt>
    <dt>
      <i><b>Hackelia Micrantha</b></i>:
    </dt>
    <dd>
      <i>a species of flower found in the West Coast of North America from British Columbia to California.</i>
    </dd>
    </dt>

  </div>
</div>

<div class="card text-center shrink-70">
  <h5 class="card-header bg-primary text-white">Current Projects</h5>
  <div class="card-body">
    <h5 class="card-title">
      <img class="card-logo" src="https://fortunes.micrantha.com/img/logo.png" alt="fortunes logo" />
      Fortunes Service
    </h5>
    <p class="card-text">A micro-service and <a href="https://slack.com/apps/A8MAPLX53-fortunes">Slack App</a> for UNIX fortunes. Fortunes are witty antidotes that relive project tensions.
      They come in many categories such as technical, poems, quotes, and proverbs.</p>
    <a href="https://fortunes.micrantha.com" class="btn btn-primary text-white">Visit</a>
  </div>
  <hr/>
  <div class="card-body">
    <h5 class="card-title">
      <%= image_tag("emotext.png", :alt => ":)", :class => "card-logo") %>
      Emotext
    </h5>
    <p class="card-text">A scalable chat app that has predefined textual representations of emotions.  Emotext's are displayed for first, second and third persons.</p>
    <a href="https://emotext.micrantha.com" class="btn btn-primary text-white">Visit</a>
  </div>
</div>
