
<h2>Philosophy</h2>

Micrantha aims to be a conscious business.  An analogy for what we do is gardening and what we create are flowers.

We tend to focus more on the journey and process of growing software to achieve the best results.

<br><br>

<pre>
 ┌───────────────┬──────────────────────────────────────────────┐
 │ Micrantha     │     Real World                               │
 ├───────────────┼──────────────────────────────────────────────┤
 │ Flower        │   A finalized app or technical solution      │
 │ Dirt          │   The work that produces a solution          │
 │ Seed          │   The design of a solution                   │
 │ Water         │   The flow of funds around a solution        │
 │ Sunlight      │   The visibility of a solution in the market │
 │ Garden        │   A portfolio or a database                  │
 │ Gardener      │   An employee or API client                  │
 │ Groundskeeper │   A system administrator                     │
 └───────────────┴──────────────────────────────────────────────┘
</pre>
