
<h2>Philosophy</h2>

<p>
Micrantha aims to be a conscious business.  An analogy for what we do is gardening and what we create are flowers.
</p>
<p>
A flower is a symbol of elegance and beauty that inspires you to consider its existence.
</p>

<p>
  We grow software from a state of either acceptance, enthusiasm or enjoyment.  Our results form naturally and inherently, and our failures deepen us.
</p>
<p>
  We do not seek to claim or impose an identity.  We aim to fulfill a shared purpose.
</p>

<pre>
 ┌───────────────┬──────────────────────────────────────────────┐
 │ Micrantha     │     Real World                               │
 ├───────────────┼──────────────────────────────────────────────┤
 │ Flower        │   A finalized app or technical solution      │
 │ Dirt          │   The work that produces a solution          │
 │ Seed          │   The design of a solution                   │
 │ Water         │   The flow of funds around a solution        │
 │ Sunlight      │   The visibility of a solution in the market │
 │ Garden        │   A portfolio or a database                  │
 │ Gardener      │   An employee or API client                  │
 │ Groundskeeper │   A system administrator                     │
 └───────────────┴──────────────────────────────────────────────┘
</pre>
