<div class="content has-text-centered is-size-7 mt-5">
    <div class="links">
      <a href="/privacy">Privacy</a> | <a href="/philosophy">Philosophy</a>
    </div>


    <div class="mt-4" id="fortune">Loading fortune...</div>

    <div class="mt-2">
      &copy; All Rights Reserved <a href="https://micrantha.com">Micrantha Software Solutions</a>
    </div>

</div>
