<div class="links">
  <a href="/privacy">Privacy</a> | <a href="/philosophy">Philosophy</a>
</div>

<small>
    &copy; All Rights Reserved <a href="https://micrantha.com">Micrantha Software Solutions</a>
</small>
