
<title>{{ if .Title }}{{ .Title }}{{else}}Micrantha{{end}}</title>
<meta name="description" content="{{ .Description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="apple-touch-icon" href="/icon/icon.png">
<meta name="keywords" content="{{ .Keywords }}">
<link href="https://fonts.googleapis.com/css?family=Inconsolata|Raleway" rel="stylesheet">
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/app.css">
