<meta charset="utf-8">
<meta name="description" content="{{ .Description }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="{{ .Keywords }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="mediumseagreen" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="{{ .Title }}">
<title>{{ if .Title }}{{ .Title }}{{else}}Micrantha{{end}}</title>
<link rel="preload">
<link rel="shortcut icon" href="/icon/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="/icon/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="57x57" href="/icon/icon-57x57.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/icon/icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/icon/icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/icon/icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/icon/icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/icon/icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/icon/icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/icon/icon-180x180.png" />
<link rel="manifest" href="/manifest.json">
<link rel="stylesheet" type="text/css" href="/css/app.css">
