<div class="navbar navbar-expand-md navbar-dark bg-success">
  <div class="container">
    <div id="brand" class="navbar-brand">
        {{ template "header-brand.tmpl" . }}
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div role="navigation" id="nav" class="collapse navbar-collapse">
        {{ template "navigation.tmpl" . }}
    </div>
  </div>
 </div>
</div>
