{{ define "content" }}

  <div id="solutions">

    <div class="block">
    <h1 class="title">Solutions</h1>
    <h2 class="subtitle">Projects that have grown enough to be considered matured.</h2>
    </div>

    <div class="columns">
      <div class="column is-half is-flex">
        <div class="card is-flex is-flex-direction-column">
          <div class="card-header bg-green">
            <div class="is-flex is-align-items-center">
                <figure class="image is-32x32 m-3">
                  <img src="https://fortunes.micrantha.com/img/logo.png" alt="fortunes logo" />
                </figure>
                <h1 class="fg-white ml-4 title is-5">Fortunes Service</h1>
            </div>
          </div>
          <div class="card-content is-flex-grow-1">
              A micro-service and <a href="https://slack.com/apps/A8MAPLX53-fortunes">Slack App</a> for UNIX fortunes. Fortunes are witty antidotes that relive project tensions. They come in many categories such as technical, poems, quotes, and proverbs.
          </div>
          <footer class="card-footer">
            <a href="https://fortunes.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
      <div class="column is-half is-flex">
        <div class="card is-flex is-flex-direction-column">
          <div class="card-header bg-orange">
            <div class="is-flex is-align-items-center">
                <figure class="image is-32x32 m-3">
                  <img src="https://veil.micrantha.com/favicon-32x32.png" alt="veil logo" />
                </figure>
                <h1 class="fg-white ml-4 title is-5 mt-4 mb-4">Veil Image Obfuscator</h1>
            </div>
          </div>
          <div class="card-content is-flex-grow-1">
            A micro-service to pseudo-randomly obfuscate a profile photo for fun or security.
          </div>
          <footer class="card-footer">
            <a href="https://veil.micrantha.com" class="card-footer-item">Visit</a>
          </footer>
        </div>
      </div>
    </div>
  </div>
{{ end }}

