
@import "utils";

/* Cards */
#content {
  .card {
    margin: 1.5em auto;

    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }

    .card-header {
      display: flex;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 1.3rem;
      }
      a {
        color: inherit
      }
    }

    .card-body {
      h1 {
        font-size: 1em;
        font-weight: bold;
      }
    }

    code {
      padding: inherit;
      margin: inherit;
      font-size: inherit;
      background: inherit;
      border: inherit;
      border-radius: inherit;
    }

    &.bg-blue,
    &.bg-green,
    &.bg-red,
    &.bg-orange,
    &.bg-brown {
      padding: 1.5em;
      filter: drop-shadow(5px 5px 5px $shadow);
    }
    .icon {
      height: 4em;
      width: 4em;
    }

    i + b {
      vertical-align: super;
    }
    .card-logo {
      margin-right: 12px;
      height: 2rem;
      width: 2rem;
    }
  }
}

