@import "./solarized";

/* Colors */
$brown: brown;
$yellow: gold;
$orange: chocolate;
$red: indianred;
$magenta: mediumslateblue;
$violet: mediumorchid;
$blue: steelblue;
$cyan: mediumaquamarine;
$green: mediumseagreen;
$white: whitesmoke;

$hover: cornflowerblue;
$shadow: $base0;