@import "node_modules/bulma/sass/utilities/all";

/* Colors 
$brown: brown;
$yellow: gold;
$orange: chocolate;
$red: indianred;
$magenta: mediumslateblue;
$violet: mediumorchid;
$blue: steelblue;
$cyan: mediumaquamarine;
$green: mediumseagreen;
$white: whitesmoke;

$hover: $blue;
$border-color: silver;
*/

/* Foreground Colors */

.fg-white {
  color: $white;
}

.fg-orange {
  color: $orange;
}

.fg-blue {
  color: $blue;
}

.fg-green {
  color: $green;
}

.fg-red {
  color: $red;
}

/* Background Colors */


.bg-blue {
  background-color: $blue;
}

.bg-green {
  background-color: $green;
}

.bg-red {
  background-color: $red;
}

.bg-orange {
  background-color: $orange;
}

