a {
  color: $blue;
  text-decoration: none;
}

a:hover {
  color: $hover;
}

html body {
  a.no-link,
  a.no-link:hover {
    color: $white !important;
  }
}

pre,
code {
  white-space: pre-wrap; /* Since CSS 2.1 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  font-family: "Inconsolata", monospace;
}

body > footer {
  font-size: 0.9em;
}

hr + footer {
  margin: 2em 0;
}

/* Utilities */

.larger {
  font-size: 1.3em;
}

.large {
  font-size: 1.5em;
}

.smaller {
  font-size: smaller;
}

.center {
  text-align: center;
}

/* Foreground Colors */

.fg-brown {
  color: $brown;
}

.fg-orange {
  color: $orange;
}

.fg-blue {
  color: $blue;
}

.fg-green {
  color: $green;
}

.fg-red {
  color: $red;
}

/* Background Colors */

@mixin setBackgoundColor($value) {
  background-color: $value;
  color: $white;
  a {
    color: navajowhite;

    &:hover {
      color: tan;
    }
  }
}

.bg-blue {
  @include setBackgoundColor($blue);
}

.bg-green {
  @include setBackgoundColor($green);
}

.bg-red {
  @include setBackgoundColor($red);
}

.bg-orange {
  @include setBackgoundColor($orange);
}

.bg-brown {
  @include setBackgoundColor($brown);
}

/* Cards */

.card {
  margin: 1.5em auto;

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  code {
    padding: inherit;
    margin: inherit;
    font-size: inherit;
    background: inherit;
    border: inherit;
    border-radius: inherit;
  }

  &.bg-blue,
  &.bg-green,
  &.bg-red,
  &.bg-orange,
  &.bg-brown {
    padding: 1.5em;
    filter: drop-shadow(5px 5px 5px $shadow);
  }
}

ul,
p,
form {
  margin-bottom: 1rem;
}

/* Header and Navigation */

#header {
  background-color: $green;
  margin-bottom: 2em;
  font-weight: bold;
  filter: drop-shadow(5px 5px 5px $shadow);

  a {
    font-weight: bold;
    color: $white;
  }

  ul {
    margin-bottom: auto;
  }

  #brand {
    display: inline-block;

    span {
      font-size: 1.5em;
      font-family: "Raleway", sans-serif;
    }

    a:hover {
      color: $white;
    }

    img {
      margin-right: 1em;
      vertical-align: top;
    }
  }

  #nav {
    font-size: 0.9em;
    margin-top: 0.3em;

    li {
      list-style: none;
      display: inline-block;
      margin-bottom: 0;
      padding-right: 10px;
      padding-left: 10px;

      &:last-child {
        margin-right: inherit;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 6px;
      }
    }
  }

  img.logo {
    width: 2em;
    height: 2em;
    vertical-align: bottom;
  }
}
