<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item">
      <img src="/img/logo.png" alt="logo" class="logo"/>
      <span class="ml-4 brand-name">{{ .BrandName }}</span>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="#nav">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div role="navigation" id="nav" class="navbar-menu">
    <div class="navbar-end">
      {{ template "navigation.html.tmpl" . }}
    </div>
  </div>
</nav>
