//= require ./bootstrap
//= require rails_bootstrap_forms
//= require font-awesome
//= require_tree .
//= require_self

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#header {
  filter: drop-shadow(5px 5px 5px silver);
  margin-bottom: 2em;
}

#body {
  padding: 10px;
  min-height: 480px;
  color: #555;
}

#footer {
  width: 100%;
  text-align: center;
}

.logo-lg {
  vertical-align: middle;
  margin-right: 10px;
  height: 220px;
}

.card .icon {
  height: 4em;
  width: 4em;
}

