//= require bootstrap
//= require rails_bootstrap_forms
//= require font-awesome
//= require navbar
//= require home
//= require_self

@import "solarized";

@import url("https://fonts.googleapis.com/css?family=Inconsolata|Raleway");

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: $white;
  color: $base00;
  font-family: 'Raleway', sans-serif;
}

pre, code, .code {
  font-family: 'Inconsolata', monospace;
}

#header {
  filter: drop-shadow(5px 5px 5px $base0);
  margin-bottom: 2em;
}

#body {
  padding: 10px;
  min-height: 480px;
}

#footer {
  width: 100%;
  text-align: center;
}

.logo-lg {
  vertical-align: middle;
  margin-right: 10px;
  height: 220px;
}

.card .icon {
  height: 4em;
  width: 4em;
}

a:hover {
  text-decoration: none;
}

.bg-header {
  background-color: $base1;
}

#philosophy {
  tr {
    td {
      padding: 0.65em;

      &:first-child {
        text-align: right;
        border-right: 1px dashed $base0;
      }
    }

    th {
      background-color: $blue;
      padding: 6px;
      color: $white;

      &:first-child {
        text-align: right;
      }
    }

    border-bottom: 1px solid $base1;
  }

  border: 1px solid $base0;
  border-radius: 4px;
}