
$white: whitesmoke;


$blue:    #7CAAF7 !default;
$indigo:  #593AE4 !default;
$purple:  #9680F8 !default;
$pink:    #e83e8c !default;
$red:     #FFCD73 !default;
$orange:  #F7CA7C !default;
$yellow:  #FFE473 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #7CE7F7 !default;

$pedal:   #7CAAF7;
$nectar:  #f6efbb;
