@import "partials/solarized";
@import "partials/colors";
@import "partials/fontawesome";
@import "node_modules/bootstrap/scss/bootstrap";
@import "partials/navbar";
@import "partials/main";

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url('font/Inconsolata.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/font/Raleway.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.1em;
  background-color: $white;
  color: #555555;
  font-family: "Raleway", sans-serif;
}

pre,
code,
.code {
  font-family: "Inconsolata", monospace;
}

#header {
  filter: drop-shadow(5px 5px 5px $shadow);
  margin-bottom: 2em;
}

#body {
  padding: 10px;
  min-height: 480px;
}

#footer {
  width: 100%;
  text-align: center;
  padding-top: 2em;
}

.logo-lg {
  vertical-align: middle;
  margin-right: 10px;
  height: 220px;
}

.card {
  .icon {
    height: 4em;
    width: 4em;
  }

  i + b {
    vertical-align: super;
  }
}

a:hover {
  text-decoration: none;
}

.card-logo {
  height: 2em;
  width: 2em;
}

.bg-header {
  background-color: $base1;
}

@import "partials/helper";

@import "partials/print";