@import "web/sass/solarized";
@import "web/sass/colors";
@import "web/sass/fontawesome/fontawesome";
@import "web/sass/fontawesome/solid";
@import "web/sass/fontawesome/brands";
@import "web/sass/bootstrap/bootstrap";
@import "web/sass/navbar";
@import "web/sass/main";
@import url("https://fonts.googleapis.com/css?family=Inconsolata|Raleway");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.1em;
  background-color: $white;
  color: #555555;
  font-family: "Raleway", sans-serif;
}

pre,
code,
.code {
  font-family: "Inconsolata", monospace;
}

#header {
  filter: drop-shadow(5px 5px 5px $shadow);
  margin-bottom: 2em;
}

#body {
  padding: 10px;
  min-height: 480px;
}

#footer {
  width: 100%;
  text-align: center;
}

.logo-lg {
  vertical-align: middle;
  margin-right: 10px;
  height: 220px;
}

.card {
  .icon {
    height: 4em;
    width: 4em;
  }

  i + b {
    vertical-align: super;
  }
}

a:hover {
  text-decoration: none;
}

.bg-header {
  background-color: $base1;
}

@import "web/sass/helper";

@import "web/sass/home";

@import "web/sass/philosophy";

@import "web/sass/print";