@import "web/sass/partials/colors";

#philosophy {
  tr {
    td {
      padding: 0.65em;

      &:first-child {
        text-align: right;
        border-right: 1px dashed $base0;
      }
    }

    th {
      padding: 1em;
      color: $white;

      &:first-child {
        text-align: right;
      }
    }
  }
}
