@import "partials/colors";

#philosophy {

  dt {
    &:after {
      content: ":";
    }
    font-weight: bold;
  }
  dd {
    font-style: italic;
  }

  img {
    margin-left: 1em;
    border: 2px solid $border;
    border-radius: 1em;
    float: right;
  }
}
