{{ define "content" }}

<div id="careers">
 

  <h1>Careers</h1>
    <hr>
    <div class="small">
      Please email &quot;Ryan Jennings&quot; &lt;<a href="mailto:ryan@micrantha.com">ryan@micrantha.com</a>&gt; with:</p>

      <p>An introduction to <b>who</b> you are, <b>what</b> you bring, <b>where</b> your from, <b>when</b> or how long you can help and <b>why</b> you want to.</p>
    </div>


  <div class="card">
    <div class="card-header">
      <h1>Manager</h1>
    </div>
    <div class="card-body">
      <p>
        A partner or <a href="https://en.wikipedia.org/wiki/Pro_bono">pro-bono</a> CEO / COO / Manager.
      </p>
      <h1>Responsibilities:</h1>
      <ul>
          <li>help develop business plan</li>
          <li>keeping company focused and motivated with targets</li>
          <li>help with time management and priorities</li>
          <li>identifying socialization and marketing opportunities</li>
          <li>keeping the company aligned with it's <a href="/philosophy">philosophy</a></li>
          <li>support development with venture capital, banks and government</li>
      </ul>
      
      <h1>Requirements:</h1>
      <ul>
        <li>business experience with a passion for technology</li>
      </ul>

      <h1>Compensation:</h1>
      <ul>
        <li>grow your own</li>
        <li>a sliding scale of profit sharing</li>
        <li>music lessons or entertainment from me</li>
        <li>software/technology/industry knowledge share</li>
      </ul>

    </div>

  </div>

</div>

{{ end }}
